<h1><span *ngIf="recipe.favorite"> <ion-icon name="star-outline" color="yellow"></ion-icon>
</span>New Recipe: {{ recipe.name }}</h1>

<div *ngFor="let item of components">

  <ion-icon name="star"></ion-icon>
  {{ item.name }}
  {{ item.description }}
</div>

<!--<div *ngFor="let result of resultsArray">
  <div *ngIf="result">
    <p>{{result}}</p>
    <app-recipe-component></app-recipe-component>
  </div>
</div>-->

<div *ngFor="let component of recipe.components">
    <app-recipe-component
      [component]="component"
      (cardDeleted)="onCardDeleted($event)"
      ></app-recipe-component>
</div>

<ion-item>
  <ion-label color="primary" fixed>Name this recipe</ion-label>
  <ion-input type="Text Input" placeholder="Name this recipe" maxlength="255" [(ngModel)]="recipe.name"></ion-input>
</ion-item>

<ion-item>
  <ion-label color="primary" fixed>Favorite</ion-label>
  <ion-toggle [(ngModel)]="recipe.favorite"></ion-toggle>
</ion-item>

<button ion-button round>Submit recipe</button>

<ion-fab bottom right>
  <button ion-fab (click)="scanBarcode()"> <ion-icon name="barcode"></ion-icon> </button>
</ion-fab>
