<ion-item>
  <h1>
    <a (click)=onStarClick()>
      <span *ngIf="recipe.favorite"> <ion-icon name="ios-star" color="yellow-star"></ion-icon></span>
      <span *ngIf="recipe.favorite === false"> <ion-icon name="ios-star-outline" color="yellow-star"></ion-icon></span>
    </a>

    {{ recipe.name }}
  </h1>
</ion-item>

<div *ngFor="let item of components">

  <ion-icon name="ion-ios-star"*ngIf="recipe.favorite === true"></ion-icon>
  <ion-icon name="ion-ios-star-outline"*ngIf="recipe.favorite === false"></ion-icon>
  {{ item.name }}
  {{ item.description }}
</div>

<div *ngFor="let component of recipe.components">
    <app-recipe-component
      [component]="component"
      (cardDeleted)="onCardDeleted($event)"
      ></app-recipe-component>
</div>

<ion-item>
  <ion-label color="primary" fixed>Name this recipe</ion-label>
  <ion-input type="Text Input" placeholder="Name this recipe" maxlength="255" [(ngModel)]="recipe.name"></ion-input>
</ion-item>

<button ion-button round (click)="onSubmitRecipe()">Submit recipe</button>

<ion-fab bottom right>
  <button ion-fab (click)="scanBarcode()"> <ion-icon name="barcode"></ion-icon> </button>
</ion-fab>

{{err | json}}
