<ion-card>

  <ion-item>
    <ion-avatar item-start *ngIf="ingredient !== undefined">
      <img  src="{{ingredient.image}}">
    </ion-avatar>
    <a (click)="presentModal({'ingredient' : ingredient})"><h2 *ngIf="ingredient !== undefined">{{ ingredient.name }}</h2></a>
  </ion-item>
  <!--{{ingredient | json}}-->

  <ion-card-content>
    <!--<p>{{ rComponent.description }}</p>-->
  </ion-card-content>
  <ion-item>
    <ion-label color="primary" fixed>Quantity</ion-label>
    <ion-input placeholder="Choose Qty"></ion-input>
    <ion-select placeholder="Choose Unit" [(ngModel)]="gender">
      <ion-option value="g">gram</ion-option>
      <ion-option disabled value="tsp">teaspoon (tsp) : 5 ml</ion-option>
      <ion-option disabled value="tbsp">tablespoon  (tbsp) : 15 ml</ion-option>
      <ion-option disabled value="L">liter (L)</ion-option>
      <ion-option disabled value="cL">centilitre (cL)</ion-option>
      <ion-option disabled value="mL">milliliter (mL)</ion-option>
    </ion-select>

  </ion-item>

  <ion-row>
    <ion-col>
      <button [disabled]="ingredient === undefined" ion-button icon-left clear small *ngIf="ingredient !== undefined" (click)="presentModal({'ingredient' : ingredient})">
        <ion-icon name="eye"></ion-icon>
        <div>View details</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small  class="red" (click)="onDeleteCard()">
        <ion-icon name="close"></ion-icon>
        <div>Delete</div>
      </button>
    </ion-col>
    <ion-col center text-center>
    </ion-col>
  </ion-row>
  <div *ngIf="err !== undefined"> {{err | json}} </div>
</ion-card>
{{ err | json}}
