<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Python4TW</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Create a new recipe</h3>

  <p>{{ resultsArray | json }}</p>

     <div *ngFor="let result of resultsArray">
       <div *ngIf="result">
         <p>{{result}}</p>
         <app-card></app-card>
       </div>
     </div>


  <ion-fab bottom right >
    <button ion-fab (click)="scanBarcode()"> <ion-icon name="barcode"></ion-icon> </button>
  </ion-fab>

</ion-content>
