<ion-header>
  <ion-toolbar>
    <ion-title>
      Recipe nutritional information
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-item>
  <h1>{{recipe.name}}</h1>
</ion-item>

  <ion-item>
      <ion-card>
        <ion-card-header>
        For 100g
        </ion-card-header>
          <ion-list>

            <ion-item>
              <button ion-item>
                <ion-icon name="cart" item-start></ion-icon> Energy: {{ energy | number : '1.2-2'}} kJ
                <ion-img height="30" width="30" [src]="energyColor"></ion-img>
              </button>
            </ion-item>

              <ion-item>
                <button ion-item>
                  <ion-icon name="cart" item-start></ion-icon> Protein: {{ recipe.protein / totalQuantity * 100 | number : '1.2-2'}}g
                </button>
              </ion-item>

              <ion-item>
                <button ion-item>
                  <ion-icon name="cart" item-start></ion-icon> Fat: {{recipe.fat / totalQuantity * 100 | number : '1.2-2'}}g
                </button>
              </ion-item>

              <ion-item>
                <button ion-item>
                  <ion-icon name="cart" item-start></ion-icon> Saturated fat: {{saturatedFat | number : '1.2-2'}}g
                  <ion-img height="30" width="30" [src]="saturatedFatColor"></ion-img>
                </button>
              </ion-item>

              <ion-item>
                <button ion-item>
                  <ion-icon name="cart" item-start></ion-icon> Carbohydrates: {{recipe.carbohydrates / totalQuantity * 100 | number : '1.2-2'}}g
                </button>
              </ion-item>

              <ion-item>
                <button ion-item>
                  <ion-icon name="cart" item-start></ion-icon> Sugar: {{sugar | number : '1.2-2'}}g
                  <ion-img height="30" width="30" [src]="sugarColor"></ion-img>
                </button>
              </ion-item>

              <ion-item>
                <button ion-item>
                  <ion-icon name="cart" [color]="saltColor" item-start></ion-icon>Salt: {{salt | number : '1.2-2'}}g
                  <ion-img height="30" width="30" [src]="saltColor"></ion-img>
                </button>
              </ion-item>
          </ion-list>
      </ion-card>
  </ion-item>
</ion-content>
